/* Global Styling Variables */

:root {
  --green: #14723a;
}

body {
  font-family: "Lora", serif;
}
h1 {
  color: var(--green);
  font-size: 34px;
}

/* Nav Bar Styling */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}

/* Change the link color to Var Green on White Background on hover */
li a:hover {
  background-color: var(--green);
  color: white;
}

/* Hero Section */

#hero {
  background-image: url(Hero-Photo.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Accordion / Drop-down options Start */

details {
  border: none;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: none;
  margin-bottom: 0.5em;
}

/* Columns */

.container {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  padding: 20px;
  border: none;
}

/* Grid Layout for Services */

/* Style for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between columns */
  margin: 20px; /* Margin around the grid container */
}

/* Style for each grid item */
.item {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}
