/* Global Styling Variables */

:root {
  --green: #14723a;
}

body {
  font-family: "poppins", sans-serif;
}
h1 {
  font-family: "Lora", serif;
  color: var(--green);
  font-size: 34px;
  text-align: center;
}

h2 {
  font-family: "Lora", serif;
  color: var(--green);
  text-align: center;
}

h3 {
  text-align: center;
}
/* Nav Bar Styling */

.logo {
  max-height: 70px;
}
.topnav {
  font-family: "Lora", serif;
  font-weight: 500;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}

/* Change the link color to Var Green on White Background on hover */
li a:hover {
  background-color: var(--green);
  color: white;
}

/* Hero Section */

#hero {
  background-image: url(Hero-Photo.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: var(--green);
  border-color: none;
  padding: 20px 30px;
  color: white;
  font-size: 1.2em;
}

button:hover {
  background-color: white;
  color: var(--green);
  border-radius: 5px;
  box-shadow: none;
  border-color: var(--green);
}

/* Section: Why Choose Us */
#why_us_image img {
  width: 75%;
  align-content: center;
}

/* Accordion / Drop-down options Start */

details {
  border: none;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: none;
  margin-bottom: 0.5em;
}

/* Columns */

.container {
  display: flex;
}

.column_1,
.column_2 {
  flex: 1;
  padding: 50px;
  border: none;
  display: grid;
  align-content: center;
}

/* Grid Layout for Services */

/* Style for the grid container */
.services {
  background-color: #eef5f1;
  padding: 50px 75px 50px 75px;
}

.grid-container {
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(200px, 1fr)
  ); /* Three columns with equal width */
  gap: 20px; /* Gap between columns */
  margin: 20px; /* Margin around the grid container */
}

/* Style for each grid item */
.item_box {
  background-color: white;
  padding: 20px;
  text-align: center;
  /* min-height: 500px; */
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
.grid-image {
  max-width: 100%;
}
